In [16]:
import pandas as pd
from sqlalchemy import create_engine
import qgrid
import numpy as np

### Extract CSVs into DataFrames

In [3]:
premise_file = "beers_brewery_locations_city_state.csv"
premise = pd.read_csv(premise_file)
del premise['Unnamed: 0']
premise.head()

,Beer,Total_Votes,Rating,Brewery,Beer_Style,ABV,Region,Latitude,Longitude,City,State
0,Bitches' Bank,234,4.41,18th Street Brewery - Gary Taproom,Russian Imperial Stout,12.00%,great-lakes,41.599057,-87.267179,Gary,IN
1,Marshmallow Handjee,"1,682",4.73,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN
2,Pear Bear,298,4.36,3 Floyds Brewing Co.,American Wild Ale,7.50%,great-lakes,41.535525,-87.516811,Munster,IN
3,Barrel Aged Behemoth,474,4.36,3 Floyds Brewing Co.,American Barleywine,12.50%,great-lakes,41.535525,-87.516811,Munster,IN
4,French Vanilla Militia,35,4.51,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN

In [8]:
premise.dtypes

Beer            object
Total_Votes     object
Rating         float64
Brewery         object
Beer_Style      object
ABV             object
Region          object
Latitude       float64
Longitude      float64
City            object
State           object
dtype: object

In [22]:
premise = premise.replace({'ABV': {'ld Ale': np.nan, 'eywine': np.nan, 'd Beer': np.nan, 'Stout': np.nan, 
                        'Saison': np.nan, 'Gueuze': np.nan, 'al IPA': np.nan}})

In [23]:
qgrid.show_grid(premise)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [10]:
premise['Total_Votes'] = premise['Total_Votes'].str.replace(",","").astype(int)

In [24]:
premise['ABV'] = premise['ABV'].str.replace("%","").astype(float)

In [25]:
premise.dtypes

Beer            object
Total_Votes      int64
Rating         float64
Brewery         object
Beer_Style      object
ABV            float64
Region          object
Latitude       float64
Longitude      float64
City            object
State           object
dtype: object

In [29]:
us_states = pd.read_csv('states.csv')

In [30]:
us_states.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

### Create database connection

In [26]:
#engine = create_engine("mysql://root@localhost/customer_db")
engine = create_engine("sqlite:///beer_brewery_db.sqlite")
conn = engine.connect()

In [27]:
#rds_connection_string = "<inser user name>:<insert password>@127.0.0.1/customer_db"
#engine = create_engine(f'mysql://{rds_connection_string}')

In [28]:
# Confirm tables
engine.table_names()

['beer']

### Load DataFrames into database

In [6]:
premise.head()

,Beer,Total_Votes,Rating,Brewery,Beer_Style,ABV,Region,Latitude,Longitude,City,State
0,Bitches' Bank,234,4.41,18th Street Brewery - Gary Taproom,Russian Imperial Stout,12.00%,great-lakes,41.599057,-87.267179,Gary,IN
1,Marshmallow Handjee,"1,682",4.73,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN
2,Pear Bear,298,4.36,3 Floyds Brewing Co.,American Wild Ale,7.50%,great-lakes,41.535525,-87.516811,Munster,IN
3,Barrel Aged Behemoth,474,4.36,3 Floyds Brewing Co.,American Barleywine,12.50%,great-lakes,41.535525,-87.516811,Munster,IN
4,French Vanilla Militia,35,4.51,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN

In [7]:
#premise.to_sql(name='premis', con=engine, if_exists='append', index=False)

In [8]:
#pd.read_sql('belly_button_biodiversity.sqlite')

In [31]:
premise = premise.reset_index(drop=False)

#premise = premise.rename(index=str, columns={"index": "beer_key"})

premise.head()

,index,Beer,Total_Votes,Rating,Brewery,Beer_Style,ABV,Region,Latitude,Longitude,City,State
0,0,Bitches' Bank,234,4.41,18th Street Brewery - Gary Taproom,Russian Imperial Stout,12.0,great-lakes,41.599057,-87.267179,Gary,IN
1,1,Marshmallow Handjee,1682,4.73,3 Floyds Brewing Co.,Russian Imperial Stout,15.0,great-lakes,41.535525,-87.516811,Munster,IN
2,2,Pear Bear,298,4.36,3 Floyds Brewing Co.,American Wild Ale,7.5,great-lakes,41.535525,-87.516811,Munster,IN
3,3,Barrel Aged Behemoth,474,4.36,3 Floyds Brewing Co.,American Barleywine,12.5,great-lakes,41.535525,-87.516811,Munster,IN
4,4,French Vanilla Militia,35,4.51,3 Floyds Brewing Co.,Russian Imperial Stout,15.0,great-lakes,41.535525,-87.516811,Munster,IN

In [32]:
premise.to_sql(name='beer', con=engine, if_exists='replace', index=False)

In [34]:
us_states.to_sql(name='us_states', con=engine, if_exists='replace', index=False)

In [33]:
pd.read_sql_query('select * from beer', con=engine)

,index,Beer,Total_Votes,Rating,Brewery,Beer_Style,ABV,Region,Latitude,Longitude,City,State
0,0,Bitches' Bank,234,4.41,18th Street Brewery - Gary Taproom,Russian Imperial Stout,12.0,great-lakes,41.599057,-87.267179,Gary,IN
1,1,Marshmallow Handjee,1682,4.73,3 Floyds Brewing Co.,Russian Imperial Stout,15.0,great-lakes,41.535525,-87.516811,Munster,IN
2,2,Pear Bear,298,4.36,3 Floyds Brewing Co.,American Wild Ale,7.5,great-lakes,41.535525,-87.516811,Munster,IN
3,3,Barrel Aged Behemoth,474,4.36,3 Floyds Brewing Co.,American Barleywine,12.5,great-lakes,41.535525,-87.516811,Munster,IN
4,4,French Vanilla Militia,35,4.51,3 Floyds Brewing Co.,Russian Imperial Stout,15.0,great-lakes,41.535525,-87.516811,Munster,IN
5,5,Dreadnaught IPA,6128,4.40,3 Floyds Brewing Co.,American Imperial IPA,9.5,great-lakes,41.535525,-87.516811,Munster,IN
6,6,Permanent Funeral,3013,4.50,3 Floyds Brewing Co.,American Imperial IPA,10.5,great-lakes,41.535525,-87.516811,Munster,IN
7,7,BBADL (Bourbon Barrel Aged Dark Lord Imperial ...,932,4.56,3 Floyds Brewing Co.,Russian Imperial Stout,15.0,great-lakes,41.535525,-87.516811,Munster,IN
8,8,3 Floyds / The Bruery - Rue D'Floyd,315,4.43,3 Floyds Brewing Co.,American Imperial Porter,14.4,great-lakes,41.535525,-87.516811,Munster,IN
9,9,Chemtrailmix,117,4.71,3 Floyds Brewing Co.,Russian Imperial Stout,15.0,great-lakes,41.535525,-87.516811,Munster,IN
10,10,Zombie Dust,10664,4.58,3 Floyds Brewing Co.,American Pale Ale (APA),6.2,great-lakes,41.535525,-87.516811,Munster,IN
11,11,Lumberjack Morning Break - Bourbon Barrel-Aged,18,4.65,3 Sons Brewing Company,American Imperial Stout,13.0,south-atlantic,26.057241,-80.143421,Dania Beach,FL
12,12,Madagascar,874,4.44,4 Hands Brewing Co.,English Sweet / Milk Stout,9.3,midwest,38.614955,-90.197526,St. Louis,MO
13,13,Volume # 1,215,4.38,4 Hands Brewing Co.,American Imperial Stout,10.5,midwest,38.614955,-90.197526,St. Louis,MO
14,14,Passé,38,4.50,515 Brewing Company,American Pale Ale (APA),6.0,midwest,41.600003,-93.722757,Clive,IA
15,15,London Balling,438,4.17,Against The Grain Brewery & Smokehouse,British Barleywine,12.5,south,38.255490,-85.744022,Louisville,KY
16,16,Bo & Luke,971,4.25,Against The Grain Brewery & Smokehouse,Russian Imperial Stout,13.0,south,38.255490,-85.744022,Louisville,KY
17,17,70K,357,4.32,Against The Grain Brewery & Smokehouse,English Sweet / Milk Stout,13.0,south,38.255490,-85.744022,Louisville,KY
18,18,Sunny Side Up (Little Amps! Double Coffee),621,4.37,Al's of Hampden / Pizza Boy Brewing,American Imperial Stout,9.5,mid-atlantic,40.288473,-76.971409,Mount View,PA
19,19,Speedway Stout - Kopi Luwak,546,4.37,AleSmith Brewing Company,American Imperial Stout,12.0,pacific,32.888186,-117.149848,San Diego,CA
20,20,Speedway Stout - Velvet,118,4.41,AleSmith Brewing Company,American Imperial Stout,12.0,pacific,32.888186,-117.149848,San Diego,CA
21,21,Speedway Stout - Hammerhead,413,4.38,AleSmith Brewing Company,American Imperial Stout,12.0,pacific,32.888186,-117.149848,San Diego,CA
22,22,Speedway Stout - Bourbon Barrel-Aged,2253,4.52,AleSmith Brewing Company,American Imperial Stout,12.0,pacific,32.888186,-117.149848,San Diego,CA
23,23,Speedway Stout,7096,4.38,AleSmith Brewing Company,American Imperial Stout,12.0,pacific,32.888186,-117.149848,San Diego,CA
24,24,Speedway Stout - Vietnamese Coffee,1952,4.50,AleSmith Brewing Company,American Imperial Stout,12.0,pacific,32.888186,-117.149848,San Diego,CA
25,25,Speedway Stout - Jamaica Blue Mountain Coffee,647,4.44,AleSmith Brewing Company,American Imperial Stout,12.0,pacific,32.888186,-117.149848,San Diego,CA
26,26,Speedway Stout - Vietnamese Coffee - Bourbon-B...,918,4.65,AleSmith Brewing Company,American Imperial Stout,12.0,pacific,32.888186,-117.149848,San Diego,CA
27,27,Coolship Red,705,4.48,Allagash Brewing Company,Belgian Fruit Lambic,5.7,new-england,43.703148,-70.317693,Portland,ME
28,28,Kiwi Herman,290,4.52,Alpine Beer Company,American Wild Ale,7.0,pacific,32.715700,-117.161100,San Diego,CA
29,29,Exponential Hoppiness,1328,4.42,Alpine Beer Company,American Imperial IPA,11.0,pacific,32.715700,-117.161100,San Diego,CA
...,...,...,...,...,...,...,...,...,...,...,...,...
970,970,Embrace The Funk - Deux Rouges,106,4.26,Yazoo Brewing Company,Flanders Red Ale,6.2,south,36.151022,-86.782177,Nashville-Davidson,TN
971,971,Embrace The Funk - Lovin On Peaches,11,4.43,Yazoo Brewing Company,American Wild Ale,6.0,south,36.151022,-86.782177,Nashville-Davidson,TN
972,972,Embrace The Funk - Foeder Beer #1,20,4.28,Yazoo Brewing Company,American Wild Ale,5.9,south,36.151022,-86.782177,Nashville-Davidson,TN
973,973,Embrace The Funk - Cherry Deux Rouges,46,4.24,Yazoo Brewing Company,Flanders Red Ale,6.2,south,36.151022,-86.782177,Nashville-Davidson,TN
974,974,Embrace The Funk - Cassis Deux Rouges,13,4.38,Yazoo Brewing Company,Flanders Red Ale,6.2,south,36.151022,-86.782177,Nashville-Davidson,TN
975,975,Embrace The Funk - Deux Rouges Grand Cru,11,4.40,Yazoo Brewing Company,Flanders Red Ale,6.2,south,36.151022,-86.782177,Nashville-Davidson,TN
976,976,Sue,872,4.12,Yazoo Brewing Company,American Imperial Porter,9.0,south,36.151022,-86.782177,Nashville-Davidson,TN
977,977,The Vigne,27,4.44,de Garde Brewing,American Wild Ale,7.0,northwest,45.457287,-123.845383,Tillamook,OR
978,978,Nectarine Premiere,335,4.64,de Garde Brewing,Belgian Saison,7.1,northwest,45.457287,-123.845383,Tillamook,OR
979,979,The Broken Truck,294,4.60,de Garde Brewing,American Wild Ale,5.0,northwest,45.457287,-123.845383,Tillamook,OR
980,980,The Peach,255,4.58,de Garde Brewing,American Wild Ale,7.3,northwest,45.457287,-123.845383,Tillamook,OR
981,981,The Lily,192,4.49,de Garde Brewing,American Wild Ale,7.0,northwest,45.457287,-123.845383,Tillamook,OR
982,982,The Lucy,155,4.46,de Garde Brewing,American Wild Ale,8.0,northwest,45.457287,-123.845383,Tillamook,OR
983,983,de Garde / SARA / Jester King - Elements Of Co...,57,4.49,de Garde Brewing,American Wild Ale,6.2,northwest,45.457287,-123.845383,Tillamook,OR
984,984,Special Rouge,197,4.41,de Garde Brewing,American Wild Ale,6.4,northwest,45.457287,-123.845383,Tillamook,OR
985,985,Framiscus,67,4.46,de Garde Brewing,American Wild Ale,6.2,northwest,45.457287,-123.845383,Tillamook,OR
986,986,The Archer,170,4.41,de Garde Brewing,American Wild Ale,7.0,northwest,45.457287,-123.845383,Tillamook,OR
987,987,Citra Hose,135,4.40,de Garde Brewing,Leipzig Gose,4.0,northwest,45.457287,-123.845383,Tillamook,OR
988,988,Nelson Hose,180,4.39,de Garde Brewing,Leipzig Gose,5.0,northwest,45.457287,-123.845383,Tillamook,OR
989,989,The Truffle,51,4.45,de Garde Brewing,American Wild Ale,5.0,northwest,45.457287,-123.845383,Tillamook,OR
990,990,The Duo,51,4.43,de Garde Brewing,American Wild Ale,6.0,northwest,45.457287,-123.845383,Tillamook,OR
991,991,The Orchard,24,4.53,de Garde Brewing,American Wild Ale,6.4,northwest,45.457287,-123.845383,Tillamook,OR
992,992,The Boysenberry,88,4.38,de Garde Brewing,American Wild Ale,7.0,northwest,45.457287,-123.845383,Tillamook,OR
993,993,Roseberry,73,4.36,de Garde Brewing,American Wild Ale,6.2,northwest,45.457287,-123.845383,Tillamook,OR
994,994,Special Violet,55,4.38,de Garde Brewing,American Wild Ale,6.4,northwest,45.457287,-123.845383,Tillamook,OR
995,995,The Kriek,44,4.39,de Garde Brewing,American Wild Ale,7.0,northwest,45.457287,-123.845383,Tillamook,OR
996,996,Lee Kriek,95,4.33,de Garde Brewing,American Wild Ale,8.4,northwest,45.457287,-123.845383,Tillamook,OR
997,997,The Bluest,29,4.43,de Garde Brewing,American Wild Ale,7.0,northwest,45.457287,-123.845383,Tillamook,OR
998,998,Cran Bu,129,4.29,de Garde Brewing,Berliner Weisse,2.3,northwest,45.457287,-123.845383,Tillamook,OR
999,999,Hose,382,4.38,de Garde Brewing,Leipzig Gose,4.0,northwest,45.457287,-123.845383,Tillamook,OR

In [35]:
pd.read_sql_query('select * from us_states', con=engine).head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [37]:
conn.close()